@tailwind base;
@tailwind components;
@tailwind utilities;

#head_bg {
    background: url("https://clwebsolution.fr/img/20240104_193627.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    /* transform: scale(1);
    animation: the-animation linear;
    animation-timeline: view();
    animation-iteration-count: 1; */
    animation: header_scale 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -30s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes header_scale {
    to {
        transform: scale(0.95);
        border-radius: 50px;
    }
}

/* @keyframes the-animation {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(0.9);
    }
} */

.btn-primary {
    background-color: #40b3ff;
    border-color: #40b3ff;
    color: black;
    border-radius: 100vh;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.btn-primary:hover {
    background-color: #2f89c5;
    border-color: #2f89c5;
}