@tailwind base;
@tailwind components;
@tailwind utilities;

#head_bg {
    background: url("https://clwebsolution.fr/img/20240104_193627.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation: header_scale 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * 1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes header_scale {
    to {
        transform: scale(0.95) translateY(-10px);
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

#btn-contact,
#nav-title {
    animation: navbar_element 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * 1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes navbar_element {
    to {
        transform: translateY(-10vh);
    }
}

#nav-btn-contact {
    background-color: #40b3ff;
    border-color: #40b3ff;
    color: black;

    /* visibility: hidden;
    opacity: 0; */

    /* transform: translateX(-10vh); */
    max-width: 0px;

    text-wrap: nowrap;
    /* text-overflow: clip; */

    overflow: hidden;
    /* width: 0; */


    animation: btn_contact 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * 0.1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#nav-btn-contact:hover {
    background-color: #2f89c5;
    border-color: #2f89c5;
}

@keyframes btn_contact {
    to {
        /* visibility: visible;
        opacity: 100; */
        /* width: auto; */
        max-width: 100%;
    }
}

.btn-primary {
    background-color: #40b3ff;
    border-color: #40b3ff;
    color: black;
    border-radius: 100vh;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.btn-primary:hover {
    background-color: #2f89c5;
    border-color: #2f89c5;
}

.btn-secondary {
    background-color: #00000000;
    border-color: #00000000;
    color: white;
}

.btn-secondary:hover {
    background-color: #00000000;
    border-color: #0000005d;
}