{% extends "base.html" %}
{% block title %}CyberLearning{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<script src="{{ url_for('static', filename='animation.js') }}"></script>
{% endblock %}

<body>

    {% block content %}
    <main class="py-10">
        <div class="text-center mb-12">
            <h1 class="text-5xl font-bold">Jeux</h1>
            <p class="text-lg">Les jeux proposés par Cyberlearning peuvent vous aider à apprendre et mettre en pratique
                les concepts de cybersécurité sous forme de jeux amusants.</p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-12">
            <div class="card shadow-lg glass bg-black/40 text-white">
                <a href="bandit.html">
                    <div class="card-body">
                        <h2 class="card-title">Bandit</h2>
                </a>
            </div>
        </div>
        <div class="card shadow-lg glass bg-black/40 text-white">
            <a href="https://urlr.me/bTsrk">
                <div class="card-body">
                    <h2 class="card-title">Natas</h2>
            </a>
        </div>
        </div>

        <div class="card shadow-lg glass bg-black/40 text-white">
            <div class="card-body">
                <a href="https://urlr.me/MGj1J">
                    <h2 class="card-title">Leviathan</h2>
                </a>
            </div>
        </div>
        <div class="card shadow-lg glass bg-black/40 text-white">
            <div class="card-body">
                <a href="https://urlr.me/fBRhN">
                    <h2 class="card-title">Krypton</h2>
                </a>
            </div>
        </div>

        <div class="card shadow-lg glass bg-black/40 text-white">
            <div class="card-body">
                <a href="https://urlr.me/Y9W3G">
                    <h2 class="card-title">Narnia</h2>
                </a>
            </div>
        </div>

        <div class="card shadow-lg glass bg-black/40 text-white">
            <div class="card-body">
                <a href="https://urlr.me/Kj1Gf">
                    <h2 class="card-title">Behemoth</h2>
                </a>
            </div>
        </div>
        </div>
    </main>
    {% endblock %}
</body>

</html>