{% extends "base.html" %}
{% block title %}Leçon{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<script src="{{ url_for('static', filename='animation.js') }}"></script>
{% endblock %}

{% block content %}
    <main class="py-10">
        <div class="text-center mb-12">
            <h1 class="text-5xl font-bold">Leçons</h1>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 px-12">

            {% for card in data %}

            <div class="card shadow-lg bg-[#E5F5FF]">
                <div class="card-body">
                    <h2 class="card-title">{{card.title}}</h2>
                    <p>{{card.content}}</p>
                    <div class="card-actions justify-end">
                        <a href="/intro"><button class="btn btn-primary">Commencer</button></a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </main>
{% endblock %}